body{
	background-color: #EFF2A2 !important;
}

#status {
	background-color: #eee;
	border: .2em solid #fff;
	margin: 2em 2em 1em;
	padding: 1em;
	width: 54em;
	float: left;
	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #ccc;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	border-radius: 0.6em;
}

.ie6 #status {
	display: inline; /* float double margin fix http://www.positioniseverything.net/explorer/doubled-margin.html */
}

#status ul {
	font-size: 0.9em;
	list-style-type: none;
	margin-bottom: 0.6em;
	padding: 0;
}

#status li {
	line-height: 1.3;
}

#status h1 {
	text-transform: uppercase;
	font-size: 1.1em;
	margin: 0 0 0.3em;
}

#page-body {
	margin: 2em 1em 1.25em 18em;
}

h2 {
	margin-top: 1em;
	margin-bottom: 0.3em;
	font-size: 1em;
}

p {
	line-height: 1.5;
	margin: 0.25em 0;
}

#controller-list ul {
	list-style-position: inside;
}

#controller-list li {
	line-height: 1.3;
	list-style-position: inside;
	margin: 0.25em 0;
}

.rowstripped:nth-child(even){
	background-color: #dcdcdc;
}
.rowstripped:nth-child(odd){
	background-color: #aaaaaa;
}

.tiny-space{
	margin-bottom: 5px;
	padding-bottom: 7px;
}

.separated-from-top{
	margin-top: 70px;
}

.newline-word{
	overflow-wrap:break-word;
	max-width: 100px;
}

@media screen and (max-width: 480px) {
	#status {
		display: none;
	}

	#page-body {
		margin: 0 1em 1em;
	}

	#page-body h1 {
		margin-top: 0;
	}
}